{% extends 'boards/base.html' %}

{% block title %}
  Fueb Community
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active" aria-current="page">Discussion Boards</li>
{% endblock %}


{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Products</th>
      <th scope="col">Posts</th>
      <th scope="col">Topics</th>
      <th scope="col">Last Post</th>
    </tr>
  </thead>
  <tbody>
    {% for br in brs %}
    <tr>
      <td>
        <a href="{% url 'board_topics' br.pk %}">{{ br.name }}</a><br>
        <small style="color: #888">{{ br.description }}</small>
      </td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
